<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs contributorId="org.eclipse.sirius.diagram.ui">
		<propertyTab
	    	afterTab="Base"
	        category="semantic &amp; extension"
	        id="Requirements VP"
	        label="Requirements VP">
	    </propertyTab>
		<propertyTab
	    	afterTab="Requirements VP"
	        category="semantic &amp; extension"
	        id="Requirements Allocation"
	        label="Requirements Allocation">
	    </propertyTab>
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
		<propertyTab
	    	afterTab="Base"
	        category="default"
	        id="Requirements VP"
	        label="Requirements VP">
	    </propertyTab>
		<propertyTab
	    	afterTab="Requirements VP"
	        category="default"
	        id="Requirements Allocation"
	        label="Requirements Allocation">
	    </propertyTab>
	    <propertyTab
	    	afterTab="Requirements Allocation"
	        category="default"
	        id="Internal Requirements Allocation"
	        label="Internal Requirements Allocation">
	    </propertyTab>
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.eclipse.sirius.diagram.ui">
		    <propertySection
		    	class="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaElementSection"
		        filter="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaElementSection"
		        id="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaElementSection"
		        tab="Requirements Allocation">
              <input
               type="org.polarsys.capella.core.data.capellacore.CapellaElement">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.capella.vp.requirements.ui.properties.sections.RequirementSection"
		        filter="org.polarsys.capella.vp.requirements.ui.properties.sections.RequirementSection"
		        id="org.polarsys.capella.vp.requirements.ui.properties.sections.RequirementSection"
		        tab="Requirements Allocation">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
              </input>
		    </propertySection>
            <propertySection
                class="org.polarsys.capella.vp.requirements.ui.properties.sections.RepresentationPropertySection"
                filter="org.polarsys.capella.vp.requirements.ui.properties.sections.RepresentationPropertySection"
                id="org.polarsys.capella.vp.requirements.ui.properties.sections.RepresentationPropertySection"
                tab="Requirements Allocation">
              <input
               type="org.eclipse.sirius.viewpoint.DRepresentationDescriptor">
              </input>
            </propertySection>
            <propertySection
                class="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaIncomingRelationPropertySection"
                filter="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaIncomingRelationPropertySection"
                id="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaIncomingRelationPropertySection"
                tab="Requirements VP">
              <input
               type="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaIncomingRelation">
              </input>
            </propertySection>
            <propertySection
                class="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaOutgoingRelationPropertySection"
                filter="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaOutgoingRelationPropertySection"
                id="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaOutgoingRelationPropertySection"
                tab="Requirements VP">
              <input
               type="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaOutgoingRelation">
              </input>
            </propertySection>
		</propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
		    <propertySection
		    	class="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaElementSection"
		        filter="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaElementSection"
		        id="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaElementSection"
		        tab="Requirements Allocation">
              <input
               type="org.polarsys.capella.core.data.capellacore.CapellaElement">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.capella.vp.requirements.ui.properties.sections.RequirementSection"
		        filter="org.polarsys.capella.vp.requirements.ui.properties.sections.RequirementSection"
		        id="org.polarsys.capella.vp.requirements.ui.properties.sections.RequirementSection"
		        tab="Requirements Allocation">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.capella.vp.requirements.ui.properties.sections.InternalAllocationRequirementSection"
		        filter="org.polarsys.capella.vp.requirements.ui.properties.sections.InternalAllocationRequirementSection"
		        id="org.polarsys.capella.vp.requirements.ui.properties.sections.InternalAllocationRequirementSection"
		        tab="Internal Requirements Allocation">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
              </input>
		    </propertySection>
            <propertySection
                class="org.polarsys.capella.vp.requirements.ui.properties.sections.RepresentationPropertySection"
			    filter="org.polarsys.capella.vp.requirements.ui.properties.sections.RepresentationPropertySection"
                id="org.polarsys.capella.vp.requirements.ui.properties.sections.RepresentationPropertySection"
                tab="Requirements Allocation">
              <input
               type="org.eclipse.sirius.diagram.ui.edit.api.part.IDDiagramEditPart">
              </input>
            </propertySection>
            <propertySection
                class="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaIncomingRelationPropertySection"
                filter="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaIncomingRelationPropertySection"
                id="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaIncomingRelationPropertySection"
                tab="Requirements VP">
              <input
               type="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaIncomingRelation">
              </input>
            </propertySection>
            <propertySection
                class="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaOutgoingRelationPropertySection"
                filter="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaOutgoingRelationPropertySection"
                id="org.polarsys.capella.vp.requirements.ui.properties.sections.CapellaOutgoingRelationPropertySection"
                tab="Requirements VP">
              <input
               type="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaOutgoingRelation">
              </input>
            </propertySection>
		</propertySections>
</extension>
</plugin>
