<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
      		activeByDefault="true"
            description="Hides all Requirement VP Types"
            id="capella.project.explorer.filters.type"
            name="Requirement VP Types">
         <filterExpression>
         	<instanceof
                  value="org.polarsys.kitalpha.vp.requirements.Requirements.TypesFolder">
            </instanceof>
         </filterExpression>
      </commonFilter>
      <commonFilter
      		activeByDefault="true"
            description="Hides all Requirement VP Attributes"
            id="capella.project.explorer.filters.attribute"
            name="Requirement VP Attributes">
         <filterExpression>
         	<instanceof
                  value="org.polarsys.kitalpha.vp.requirements.Requirements.Attribute">
            </instanceof>         
         </filterExpression>
      </commonFilter>
      <commonFilter
      		activeByDefault="true"
            description="Hides all Requirement VP Relations"
            id="capella.project.explorer.filters.relation"
            name="Requirement VP Relations">
         <filterExpression>
         	<instanceof
                  value="org.polarsys.kitalpha.vp.requirements.Requirements.AbstractRelation">
            </instanceof>         
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.polarsys.capella.patterns.ui.viewerContribution.showHideRequirements"
            targetID="org.polarsys.capella.core.ui.semantic.browser.view.SemanticBrowserID">
         <action
               class="org.polarsys.capella.vp.requirements.ui.semanticbrowser.actions.ShowHideRequirements"
               icon="icons/full/etool16/requirements.gif"
               id="org.polarsys.capella.vp.requirements.ui.actions.showHideRequirements"
               label="Show requirements in the semantic browser"
               state="false"
               style="toggle"
               toolbarPath="additions"
               tooltip="Show requirements in the semantic browser">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.polarsys.kitalpha.massactions.core.columnprovider">
      <columnProvider
            class="org.polarsys.capella.vp.requirements.ui.massactions.RequirementAttributesProvider"
            kind="editing">
      </columnProvider>
      <columnProvider
            class="org.polarsys.capella.vp.requirements.ui.massactions.RequirementAttributesProvider"
            kind="visualization">
      </columnProvider>
   </extension>
</plugin>
