<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2018 THALES GLOBAL SERVICES.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
    <extension point="org.polarsys.kitalpha.cadence.core.activity.declaration">
      <ActivityDeclaration
            Identifier="org.polarsys.capella.vp.requirements.ju.transposer.TestInitializeTransformation"
            ActivityClass="org.polarsys.capella.vp.requirements.ju.transposer.TestInitializeTransformation"
            Name="org.polarsys.capella.vp.requirements.ju.transposer.TestInitializeTransformation"
            Multiple="false"
            WorkflowElementIdentifier="transition.workflow.init"
            WorkflowIdentifier="transition.workflow">
         <Description>
            Description body text
         </Description>
      </ActivityDeclaration>
      <ActivityDeclaration
            Identifier="org.polarsys.capella.vp.requirements.ju.transposer.TestTransposerTransformation"
            ActivityClass="org.polarsys.capella.vp.requirements.ju.transposer.TestTransposerTransformation"
            Name="org.polarsys.capella.vp.requirements.ju.transposer.TestTransposerTransformation"
            Multiple="false"
            WorkflowElementIdentifier="transition.workflow.transposer"
            WorkflowIdentifier="transition.workflow">
         <Description>
            Description body text
         </Description>
      </ActivityDeclaration>
    </extension>
</plugin>
