<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs contributorId="org.eclipse.sirius.diagram.ui">
			<propertyTab
		    	afterTab="Base"
		        category="semantic &amp; extension"
		        id="Requirements VP"
		        label="Requirements VP">
		    </propertyTab> 
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
	<propertyTabs contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
			<propertyTab
		    	afterTab="Base"
		        category="default"
		        id="Requirements VP"
		        label="Requirements VP">
		    </propertyTab> 
	</propertyTabs>
</extension> 
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.eclipse.sirius.diagram.ui">
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.IntegerAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.IntegerAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.IntegerAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.IntegerValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.StringAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.StringAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.StringAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.StringValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DateAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DateAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DateAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.DateValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.BooleanAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.BooleanAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.BooleanAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.BooleanValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RealAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RealAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RealAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.RealValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AttributeDefinitionSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AttributeDefinitionSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AttributeDefinitionSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.AttributeDefinition">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AbstractTypeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AbstractTypeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AbstractTypeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.AbstractType">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DataTypeDefinitionSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DataTypeDefinitionSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DataTypeDefinitionSection"
		        tab="Requirements VP">
		      <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.DataTypeDefinition">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumValueSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumValueSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumValueSection"
		        tab="Requirements VP">
		      <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.EnumValue">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.InternalRelationSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.InternalRelationSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.InternalRelationSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.InternalRelation">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.ModuleSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.ModuleSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.ModuleSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Module">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RequirementSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RequirementSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RequirementSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.TypesFolderSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.TypesFolderSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.TypesFolderSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.TypesFolder">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumerationAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumerationAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumerationAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.EnumerationValueAttribute">
              </input>
		    </propertySection>
		</propertySections>
</extension>
<extension
	point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.IntegerAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.IntegerAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.IntegerAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.IntegerValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.StringAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.StringAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.StringAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.StringValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.BooleanAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.BooleanAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.BooleanAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.BooleanValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DateAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DateAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DateAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.DateValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RealAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RealAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RealAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.RealValueAttribute">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AttributeDefinitionSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AttributeDefinitionSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AttributeDefinitionSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.AttributeDefinition">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AbstractTypeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AbstractTypeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.AbstractTypeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.AbstractType">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DataTypeDefinitionSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DataTypeDefinitionSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.DataTypeDefinitionSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.DataTypeDefinition">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumValueSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumValueSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumValueSection"
		        tab="Requirements VP">
		      <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.EnumValue">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.InternalRelationSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.InternalRelationSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.InternalRelationSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.InternalRelation">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.ModuleSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.ModuleSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.ModuleSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Module">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RequirementSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RequirementSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.RequirementSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.TypesFolderSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.TypesFolderSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.TypesFolderSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.TypesFolder">
              </input>
		    </propertySection>
		    <propertySection
		    	class="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumerationAttributeSection"
		        filter="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumerationAttributeSection"
		        id="org.polarsys.kitalpha.vp.requirements.ui.properties.sections.EnumerationAttributeSection"
		        tab="Requirements VP">
              <input
               type="org.polarsys.kitalpha.vp.requirements.Requirements.EnumerationValueAttribute">
              </input>
		    </propertySection>
		</propertySections>
</extension>
</plugin>
