<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2021 THALES GLOBAL SERVICES.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>

   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.vp.requirements.quickfix.DeleteRelation_REQ_Relation_01"
            desc="%quickFix.REQ_Relation_01.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.REQ_Relation_01.label">
         <rules
               ruleId="REQ_Relation_01">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.vp.requirements.quickfix.DeleteRelation_REQ_Relation_02"
            desc="%quickFix.REQ_Relation_02.desc"
            icon="platform:/plugin/org.polarsys.capella.core.ui.resources/icons/full/obj16/capella_delete.gif"
            label="%quickFix.REQ_Relation_02.label">
         <rules
               ruleId="REQ_Relation_02">
         </rules>
      </resolver>   
   </extension>
</plugin>
