<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
	<extension 
		point="org.polarsys.capella.common.ui.toolkit.browser.contentProviderCategory">
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.eobject.parent"
	            isTopLevel="true"
	            name="Parent">
	         <targetBrowserId
	               id="CurrentElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.eclipse.emf.ecore.EObject">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.EObjectParentQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.requirement.ownedattributes"
	            isTopLevel="true"
	            name="Owned Attributes">
	         <targetBrowserId
	               id="CurrentElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RequirementOwnedAttributesQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.requirement.ownedrelations"
	            isTopLevel="true"
	            name="Owned Relations">
	         <targetBrowserId
	               id="CurrentElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RequirementOwnedRelationsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.requirement.internalrelation.incoming"
	            isTopLevel="true"
	            name="Internal Relation">
	         <targetBrowserId
	               id="ReferencingElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RequirementIncomingInternalRelatedRequirementsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.requirement.internalrelation.outgoing"
	            isTopLevel="true"
	            name="Internal Relation">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RequirementOutgoingInternalRelatedRequirementsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.internalrelation.source"
	            isTopLevel="true"
	            name="Source">
	         <targetBrowserId
	               id="ReferencingElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.InternalRelation">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.InternalRelationSourceQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.internalrelation.target"
	            isTopLevel="true"
	            name="Target">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.InternalRelation">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.InternalRelationTargetQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.capellaoutgoingrelation.source"
	            isTopLevel="true"
	            name="Source">
	         <targetBrowserId
	               id="ReferencingElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaOutgoingRelation">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.CapellaOutgoingRelationSourceQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.capellaoutgoingrelation.target"
	            isTopLevel="true"
	            name="Target">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaOutgoingRelation">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.CapellaOutgoingRelationTargetQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.capellaincomingrelation.source"
	            isTopLevel="true"
	            name="Source">
	         <targetBrowserId
	               id="ReferencingElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaIncomingRelation">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.CapellaIncomingRelationSourceQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.capellaincomingrelation.target"
	            isTopLevel="true"
	            name="Target">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.capella.vp.requirements.CapellaRequirements.CapellaIncomingRelation">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.CapellaIncomingRelationTargetQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.capellaelement.outgoingrelation.requirement"
	            isTopLevel="true"
	            name="Allocated Requirements">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.capella.core.data.capellacore.CapellaElement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.CapellaElementOutgoingRelatedRequirementsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.capellaelement.incomingrelation.requirement"
	            isTopLevel="true"
	            name="Allocating Requirements">
	         <targetBrowserId
	               id="ReferencingElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.capella.core.data.capellacore.CapellaElement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.CapellaElementIncomingRelatedRequirementsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.requirement.outgoingrelation.capellaelement"
	            isTopLevel="true"
	            name="Allocating Elements">
	         <targetBrowserId
	               id="ReferencingElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RequirementOutgoingRelatedCapellaElementsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.requirement.incomingrelation.capellaelement"
	            isTopLevel="true"
	            name="Allocated Elements">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.Requirement">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RequirementIncomingRelatedCapellaElementsQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.stringvalueattribute.definition"
	            isTopLevel="true"
	            name="Definition">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.StringValueAttribute">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.StringValueAttributeDefinitionQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.integervalueattribute.definition"
	            isTopLevel="true"
	            name="Definition">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.IntegerValueAttribute">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.IntegerValueAttributeDefinitionQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.booleanvalueattribute.definition"
	            isTopLevel="true"
	            name="Definition">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.BooleanValueAttribute">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.BooleanValueAttributeDefinitionQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.realvalueattribute.definition"
	            isTopLevel="true"
	            name="Definition">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.RealValueAttribute">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.RealValueAttributeDefinitionQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.datevalueattribute.definition"
	            isTopLevel="true"
	            name="Definition">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.DateValueAttribute">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.DateValueAttributeDefinitionQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	      <category
	            id="org.polarsys.kitalpha.vp.requirements.attributedefinition.datatype"
	            isTopLevel="true"
	            name="Data Type">
	         <targetBrowserId
	               id="ReferencedElementBrowser">
	         </targetBrowserId>
	         <availableForType
	               class="org.polarsys.kitalpha.vp.requirements.Requirements.AttributeDefinition">
	         </availableForType>
	         <categoryQuery>
	            <basicQuery
	                  class="org.polarsys.capella.vp.requirements.semantic.browser.queries.AttributeDefinitionDataTypeQuery">
	            </basicQuery>
	         </categoryQuery>
	      </category>
	</extension>
</plugin>
