<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
      point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaIncomingRelation_CapellaElement"
         id="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaIncomingRelation_CapellaElement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaOutgoingRelation_CapellaElement"
         id="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaOutgoingRelation_CapellaElement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaIncomingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaIncomingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaOutgoingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaOutgoingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Representation_CapellaIncomingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.Representation_CapellaIncomingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Representation_CapellaOutgoingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.Representation_CapellaOutgoingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.EnumerationValueAttribute_Values_EnumValue"
         id="org.polarsys.capella.vp.requirements.business.queries.EnumerationValueAttribute_Values_EnumValue">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Requirement_InternalRelationTarget_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.Requirement_InternalRelationTarget_CapellaElement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Requirement_InternalRelationSource_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.Requirement_InternalRelationSource_CapellaElement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.AbstractRelation_RelationType"
         id="org.polarsys.capella.vp.requirements.business.queries.AbstractRelation_RelationType">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.BooleanValueAttribute_Definition_AttributeDefinition"
         id="org.polarsys.capella.vp.requirements.business.queries.BooleanValueAttribute_Definition_AttributeDefinition">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.DateValueAttribute_Definition_AttributeDefinition"
         id="org.polarsys.capella.vp.requirements.business.queries.DateValueAttribute_Definition_AttributeDefinition">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.EnumerationValueAttribute_Definition_AttributeDefinition"
         id="org.polarsys.capella.vp.requirements.business.queries.EnumerationValueAttribute_Definition_AttributeDefinition">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.IntegerValueAttribute_Definition_AttributeDefinition"
         id="org.polarsys.capella.vp.requirements.business.queries.IntegerValueAttribute_Definition_AttributeDefinition">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.RealValueAttribute_Definition_AttributeDefinition"
         id="org.polarsys.capella.vp.requirements.business.queries.RealValueAttribute_Definition_AttributeDefinition">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.StringValueAttribute_Definition_AttributeDefinition"
         id="org.polarsys.capella.vp.requirements.business.queries.StringValueAttribute_Definition_AttributeDefinition">
   </MDEBusinessQueries>
</extension>
</plugin>
