<?xml version="1.0" encoding="UTF-8"?> 
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
<extension
      point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaIncomingRelation_CapellaElement"
         id="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaIncomingRelation_CapellaElement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaOutgoingRelation_CapellaElement"
         id="org.polarsys.capella.vp.requirements.business.queries.Requirement_CapellaOutgoingRelation_CapellaElement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaIncomingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaIncomingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaOutgoingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.CapellaElement_CapellaOutgoingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.Representation_CapellaOutgoingRelation_Requirement"
         id="org.polarsys.capella.vp.requirements.business.queries.Representation_CapellaOutgoingRelation_Requirement">
   </MDEBusinessQueries>
   <MDEBusinessQueries
         class="org.polarsys.capella.vp.requirements.business.queries.EnumerationValueAttribute_Values_EnumValue"
         id="org.polarsys.capella.vp.requirements.business.queries.EnumerationValueAttribute_Values_EnumValue">
   </MDEBusinessQueries>
</extension>
</plugin>
