<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2016, 2017 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->
<plugin>
    <extension
          point="org.polarsys.capella.vp.requirements.importer.extension.attributesProvider">
       <attributesProvider
       		 id="doors.rmf"
             category="Doors RMF attributes"
             mandatory="false">
          <attribute
                name="IE Capability Number"
                defaultValue="false">
          </attribute>
         <attribute
                name="IE Checked Object"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE DocProperties Author"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE DocProperties Company"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE IVV Method"
                defaultValue="true">
          </attribute>
          <attribute
                name="IE IVV Non Regression"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE IVV Procedure Number"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE IVV Responsible"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE IVV Skills"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE IVV Type"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE Object Type"
                defaultValue="true">
          </attribute>
          <attribute
                name="IE Rationale"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE Release"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE Req Obsolete"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE Req Status"
                defaultValue="true">
          </attribute>
          <attribute
                name="IE Req Version"
                defaultValue="true">
          </attribute>
          <attribute
                name="IE Requirement Number"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE StyleList"
                defaultValue="false">
          </attribute>
          <attribute
                name="IE Test Method Expected"
                defaultValue="true">
          </attribute>
          <attribute
                name="IE WordExportSettings"
                defaultValue="false">
          </attribute>
          <attribute
                name="Object Heading"
                defaultValue="true">
          </attribute>
          <attribute
                name="Object Short Text"
                defaultValue="true">
          </attribute>
          <attribute
                name="Object Text"
                defaultValue="true">
          </attribute>
          <attribute
                name="RCM Version"
                defaultValue="true">
          </attribute>
       </attributesProvider>
    </extension>
    <extension
          point="org.polarsys.capella.vp.requirements.importer.extension.attributesProvider">
       <attributesProvider
             category="Doors RMF mandatory attributes"
             id="doors.rmf.mandatory"
             mandatory="true">
          <attribute
                defaultValue="true"
                name="IE PUID">
          </attribute>
       </attributesProvider>
    </extension>
</plugin>
